<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body ng-app="">

        <h1>Đăng kí </h1>
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-6" id="name">
                <label for="validationCustomUsername" class="form-label">Họ và tên</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>

              <div class="col-md-6" id ="email">
                <label for="validationemail" class="form-label">Số điện Thoại</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-phone"></i></span>
                  <input type="text" class="form-control" id="validationCustomUsername"  aria-describedby="inputGroupPrepend" required>
                </div>
              </div>

              <div class="col-md-6" id ="email">
                <label for="validationemail" class="form-label">Email</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-envelope"></i></span>
                  <input type="email" class="form-control" id="validationCustomUsername" placeholder="example@email.com" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              
              <div class="col-md-6" id ="address">
                <label for="validationemail" class="form-label">Địa chỉ</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                  <input type="email" class="form-control" id="validationCustomUsername"  aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
              <div class="col-md-3">
                <label  for="validationCustom04" class="form-label">State</label>
                <select ng-model="myar" class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Choose...</option>
                  <option value="CN">Cá Nhân</option>
                    <option value="TC">Tổ Chức</option>
                </select>
                
               
              </div>
              <div ng-switch="myar">
                <div ng-switch-when="CN">
                    <form>
                        Hình thức bảo hiểm :
                       <div class="form-check">
                        <input  class="form-check-input" type="radio" ng-model="Hinhthuc" value="TN" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          tự nguyện
                        </label>
                        <div ng-switch="Hinhthuc">
                            <div ng-switch-when="TN">
                              <span>Quyền lợi đươc hưởng :</span><br>
                               <input type="checkbox" id="vehicle1" name="vehicle1" value="1">
                            <label for="vehicle1">Chế độ ốm đau </label><br>
                            <input type="checkbox" id="vehicle2" name="vehicle2" value="2">
                            <label for="vehicle2">Chế độ thai sản </label><br>
                            <input type="checkbox" id="vehicle3" name="vehicle3" value="3">
                            <label for="vehicle3">Chế độ tai nạn lao động và bệnh nghề nghiệp </label><br>
                             <input type="checkbox" id="vehicle1" name="vehicle1" value="4">
                            <label for="vehicle1">Chế độ hưu trí</label><br>
                            <input type="checkbox" id="vehicle2" name="vehicle2" value="5">
                            <label for="vehicle2">Chế độ tử tuất</label><br>
                            </div>
                           </div>
                      </div>
                      <!-- <div class="form-check">
                        <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" ng-model="Hinhthuc" value="BB">
                        <label class="form-check-label" for="flexRadioDefault1">
                          bắt buộc
                        </label>
                        <div ng-switch="Hinhthuc">
                            <div ng-switch-when="BB">
                               <div class="col-md-6" id="name">
                                
                                   <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                     <label class="form-check-label" for="flexCheckCheckedDisabled">
                                         Chế độ ốm đau
                                     </label>
                                   </div>
         
                                   <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                     <label class="form-check-label" for="flexCheckCheckedDisabled">
                                         Chế độ thai sản
                                     </label>
                                   </div>
         
                                   <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                     <label class="form-check-label" for="flexCheckCheckedDisabled">
                                         Chế độ tai nạn lao động và bệnh nghề nghiệp
                                     </label>
                                   </div>
         
                                   <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                     <label class="form-check-label" for="flexCheckCheckedDisabled">
                                         Chế độ hưu trí
                                     </label>
                                   </div>
         
                                   <div class="form-check">
                                     <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                                     <label class="form-check-label" for="flexCheckCheckedDisabled">
                                         Chế độ tử tuất
                                     </label>
                                   </div>
         
                                 </div>
                             </div>
                           </div>
                      </div> -->
                      </form>
                </div>
                <div ng-switch-when="TC">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-4">
                          <label for="validationCustom01" class="form-label">Mã công ty :</label>
                          <input type="text" class="form-control" id="validationCustom01" required>
                          <div class="col-md-6" id="name">
                            <span>quyền lợi được hưởng :</span>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                              <label class="form-check-label" for="flexCheckCheckedDisabled">
                                  Chế độ ốm đau
                              </label>
                            </div>
  
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                              <label class="form-check-label" for="flexCheckCheckedDisabled">
                                  Chế độ thai sản
                              </label>
                            </div>
  
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                              <label class="form-check-label" for="flexCheckCheckedDisabled">
                                  Chế độ tai nạn lao động và bệnh nghề nghiệp
                              </label>
                            </div>
  
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                              <label class="form-check-label" for="flexCheckCheckedDisabled">
                                  Chế độ hưu trí
                              </label>
                            </div>
  
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                              <label class="form-check-label" for="flexCheckCheckedDisabled">
                                  Chế độ tử tuất
                              </label>
                            </div>
  
                          </div>
                        </div>
                </div>
          </div>
                                 
                  
              </form>     
              </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Đăng kí tư vấn</button>
            </div>
          </form>        
        </body>
       
</html>